.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.switch label input[type=checkbox]:checked + .lever:after {
  /*background-color: #0D47A1;*/
  background-color: #2196F3;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: grey;
}


/* Sticky Footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
